﻿<!DOCTYPE html>
<html lang="en" ng-app="WebSiteVisitsModule">
<head>
    <title>Top Web Sites</title>
    <script src="../Scripts/jquery-3.1.1.min.js"></script>
    <link href="../CSS/amelia.bootstrap.min.css" rel="stylesheet" />
    <link href="../CSS/Site.css" rel="stylesheet" />
    <script src="../Scripts/angular.min.js">
    </script>
    <script src="../Scripts/bootstrap.min.js">
    </script>
    <script src="../Scripts/app.js">
    </script>
    <script src="../Scripts/angular-route.min.js"></script>
    <script src="../Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="../Controllers/WebSiteVisitsController.js"></script>
    <script src="../Services/VisitsService.js"></script>
</head>

<body ng-controller="WebSiteVisitsController">
    <h1>{{Title}}</h1>


    <form name="searchVisitsForm" ng-submit="searchVisits(weekDate)">
        <table>
            <tr>
                <td>Enter week date [yyyy-mm-dd]  </td>
                <td><input type="text" required placeholder="Enter Week Date" ng-model="weekDate" class="form-control" style="width:300px" /></td>
                <td><input type="submit" value="Search Visits" class="btn btn-primary" /></td>
            </tr>
        </table>
    </form>

    <table class="table table-striped table-hover" ng-show="Visits">
        <thead>
            <tr class="info">
                <td>
                    Web Site
                </td>
                <td>
                    Visit Count
                </td>
            </tr>
        </thead>
        <tbody>
            <tr class="success" ng-repeat="visit in Visits | limitTo:10 ">
                <td>
                    {{visit.webSite}}
                </td>
                <td>
                    {{visit.visitCount}}
                </td>
            </tr>
        </tbody>
    </table>


</body>
</html>


